# --- Directories --- 

old_strategy/data/processed
old_strategy/data/fitted_models
old_strategy/data/raw


# --- Files ----

*.gz
*.xml
*.tbi
*.html
*.joblib
*.json
*.pkl
.pkl
*.csv
.csv
*.parquet
*.npz
*.pth
.env
*.env